<!-- Every page on the site should inherit from base.html because it is the title bar-->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Course Wizard</title>
        {% else %}
        <title>Course Wizard</title>
        {% endif %}
    </head>
    <body>
        <div>
        CourseWizard:
        <a href="/index">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('classes') }}">Classes</a>
        <a href="{{ url_for('majors') }}">Majors</a>
        {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>