<!DOCTYPE html>
<html lang="en">
<title>Canvas to Webportal Grade Converter</title>
<head>
    <title> ITS Canvas to Webportal Grade Sheet Converter </title>
    <link rel="icon" href="static/its-logo.png">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    {{ dropzone.config(redirect_url=url_for('error')) }}
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!--Script Imports-->
    <!--<script src="static/dropzone-5.7.0/dist/dropzone.js"></script>-->

    <main role="main" class="container">

        <div id="header">
            <a href="http://its.sdsu.edu" class="no-decoration">
                <img id="logo" src="static/sdsu-its-logo.png">
            </a>
        </div>

        <div class="alert alert-info" role="alert">
            
            <p>The file cannot be converted due to an error<br>
               Please read the <a href="https://docs.google.com/document/d/1LEKbOTFKY8XQKYl_vyt_-lEzs21KyuLtimu-njIF3-o/edit?usp=sharing"  target="_blank">User Guide</a> before using the tool.<br>
               If you need assistance using the tool contact ITS by making a ticket in <a href="sdsu.service-now.com">ServiceNow</a> or join the <a href="https://sdsu.zoom.us/j/6195946348">Virtual Fit Center</a> Zoom call<br>
               <p><a href="{{url_for('index')}}">Try Again</a></p>

           
        </div>
    </main>
</body>
</html>
</html>

